# Object file
*.o

# Ada Library Information
*.ali
NFC big guns the Dallas Cowboys and San Francisco 49ers got back to winning ways in some style while Joshua Dobbs' incredible story continued as he engineered a fifth win on the spin for the Minnesota Vikings.

